body {
    background-color: #7be;
}

#urlbox {
    width: 170px;
}

#button {
    width: 80px;
}

#central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#query {
    width: 255px;
    margin: 0 auto;
}

#result {
    text-align: center;
}

#short {
    color: #f00;
}
