body {
    /* background-color: #1b3; */
    /* background-color: #3ed057; */
    background-color: #511;
    color: #D44;
}

input[type=text] {
    border: solid 2px #182;
    border-radius: 5px;
    height: 46px;
    font-size: 30px;
    padding: 7px;
}

button {
    border: solid 2px #8f7;
    border-radius: 5px;
    height: 46px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #77E;
}

a:hover {
    color: #99E;
}

a:active {
    color: #EE2A2A;
}

#urlbox {
    width: 400px;
}

#button {
    width: 100px;
    vertical-align: top;
}

#central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#footer {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -10%)
}

#title {
    text-align: center;
    font-size: 32px;
}

#query {
    width: 410px;
    margin: 0 auto;
}

#results {
    text-align: center;
}

#short {
    color: #F13;
    font-size: 24px;
}

#short::-moz-selection {
    border-radius: 2px;
    background-color: #020;
    color: #cfc;
}
