body {
    background-color: #7be;
}

input[type=text] {
    border: solid 2px #87f;
    border-radius: 5px;
    height: 46px;
    font-size: 30px;
    padding: 7px;
}

button {
    border: solid 2px #87f;
    border-radius: 5px;
    height: 46px;
    font-size: 24px;
    
}

#urlbox {
    width: 300px;
}

#button {
    width: 100px;
    vertical-align: top;
}

#central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#title {
    text-align: center;
    font-size: 32px;
}

#query {
    width: 410px;
    margin: 0 auto;
}

#results {
    text-align: center;
}

#short {
    color: #f00;
    font-size: 24px;
}
